body {
    background-image: url(upscalemedia-transformed.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image{
    border: 5px solid green;
    border-radius: 20px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

hr {
    height: 1px;
    border: solid green;
    background-color: green;
}